{% if term_data is empty %}
  <h4>No terms have been tracked, return to settings page to configure which terms to track and when.</h4>
  <p>Refresh this page to see an updated view of the data</p>
{% else %}
  <h3>Currently tracked terms by content page visited:</h3>
  {% for id, node in term_data %}
    <ul>
      <li>
        <h4>{{ node.id }}<a href="{{ node.url }}">{{ node.name }}</a> ({{ node.bundle }})</h4>
        <ul id="{{ id }}">
        {% for id, term in node.terms %}
          <li>{{ term.name }} ({{ term.vocab }})</li>
        {% endfor %}
        </ul>
      </li>
    </ul>
  {% endfor %}
{% endif %}
