{% if term_data is empty %}
  <h4>No terms have been tracked, return to settings page to configure which terms to track and when.</h4>
  <p>Refresh this page to see an updated view of the data</p>
{% else %}
  <h3>Currently tracked terms, sorted by frequency:</h3>
  {% for id, term in term_data %}
    <ul>
      <li>
        <h4>{{ term.name }}</h4>
        <h5>Count: {{ term.count }}</h5>
        <p>On page(s):
        {% for id, url in term.nodes%}
          <a href="{{ url }}">/node/{{ id }}</a>
          {% if not loop.last %},{% endif %}
        {% endfor%}
        </p>
      </li>
    </ul>
  {% endfor %}
{% endif %}


